h1 {
  color: red:
  font-family: 'Bebas Neue';
}


/* this is a class*/
.container
{
  margin: auto;
  padding: 20px;
  background-color: rgb(217, 217, 217);
  width: 50%;
  box-shadow:5px 10px
}

.article h1 {
  color: blue;

}

.container h1 {
font-size: 24pt;

}

/* this is an id */
#dog {
  background-color: pink;
  width: 400px;
}
